@import url("https://fonts.cdnfonts.com/css/intro");
@import url("https://fonts.googleapis.com/css2?family=Jost&family=Roboto+Slab:wght@300&display=swap");
.nav__link_grey {
  color: grey;
  margin-bottom: 10%;
}

.container {
  display: grid;
  grid-template-areas: "card1 card2 card3" "card4 card5 card6";
  margin-left: 92px;
  margin-right: 92px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 12px;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.card__image {
  width: 26vw;
  height: 55%;
  flex-shrink: 0;
}

.card__title {
  width: 90%;
  color: var(--, #000);
  font-family: Inro;
  font-size: 160%;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.card__description {
  width: 90%;
  color: var(--, #000);
  font-family: Roboto Slab;
  font-size: 125%;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
}

.card_first {
  grid-area: card1;
}

.card_second {
  grid-area: card2;
}

.card_third {
  grid-area: card3;
}

.card_forth {
  grid-area: card4;
}

.card_fifth {
  grid-area: card5;
}

.card_six {
  grid-area: card6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #EC615B;
}

.card__title_white {
  margin-left: 10px;
  justify-content: start;
  align-items: center;
  color: white;
  font-family: Intro;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 36px */
}

.card__input {
  width: 90%;
  height: 15%;
  margin-top: 10px;
  margin-left: 10px;
  background-color: white;
}

:placeholder-shown {
  color: black;
  font-family: Roboto Slab;
  font-size: 155%;
  font-style: normal;
  font-weight: 300;
  line-height: 160%; /* 32px */
}

.card__button {
  margin-left: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: start;
  text-align: center;
  flex-shrink: 0;
  width: 30%;
  height: 38px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #5222D0;
}

.card__subscription {
  color: white;
  font-family: Intro;
  font-size: 125%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 1300px) and (min-width: 1261px) {
  .card__button {
    width: 60%;
  }
}
@media screen and (max-width: 1261px) and (min-width: 901px) {
  .card__button {
    width: 50%;
  }
  .container {
    width: 90%;
    padding-right: 20px;
  }
  .card__image {
    width: 20vw;
    height: 45%;
    flex-shrink: 0;
  }
  .card__title {
    font-size: 90%;
  }
  .card__description {
    font-size: 90%;
  }
  .card__subscription {
    font-size: 80%;
  }
}
@media screen and (max-width: 900px) and (min-width: 769px) {
  .card__button {
    width: 50%;
  }
  .container {
    width: 80%;
    padding-right: 40px;
  }
  .card {
    height: 80%;
  }
  .card__image {
    width: 20vw;
    height: 35%;
    flex-shrink: 0;
  }
  .card__title {
    font-size: 90%;
  }
  .card__description {
    font-size: 90%;
  }
  .card__subscription {
    font-size: 80%;
  }
}
@media screen and (max-width: 768px) and (min-width: 681px) {
  .card__button {
    width: 55%;
  }
  .container {
    width: 80%;
    padding-right: 40px;
  }
  .card {
    height: 80%;
  }
  .card__image {
    width: 18vw;
    height: 25%;
    flex-shrink: 0;
  }
  .card__title {
    font-size: 82%;
  }
  .card__description {
    font-size: 80%;
  }
  .card__subscription {
    font-size: 75%;
  }
}
@media screen and (max-width: 680px) and (min-width: 560px) {
  .card__button {
    width: 55%;
  }
  .container {
    width: 80%;
    padding-right: 40px;
  }
  .card {
    height: 70%;
  }
  .card__image {
    width: 15vw;
    height: 20%;
    flex-shrink: 0;
  }
  .card__title {
    font-size: 82%;
  }
  .card__description {
    font-size: 42%;
  }
  .card__subscription {
    font-size: 75%;
  }
}
@media screen and (max-width: 559px) and (min-width: 414px) {
  .card__button {
    width: 85%;
  }
  .container {
    justify-content: center;
    width: 70%;
  }
  .card {
    height: 100%;
  }
  .card__image {
    width: 100%;
    height: 20%;
    flex-shrink: 0;
  }
  .card__title {
    font-size: 56%;
  }
  .card__description {
    font-size: 40%;
  }
  .card__subscription {
    font-size: 35%;
  }
  .card__input {
    width: 90%;
  }
  :placeholder-shown {
    color: black;
    font-size: 80%;
  }
}

/*# sourceMappingURL=possibilities.css.map */
